*
{
    margin: 0;
    padding:0;
}
#outer
{
    height: auto;
    width: 100%;
    background-color: #131111;
}
#sign_outer
{
    height: auto;
    width: 100%;
    text-align: center;
    /* background-color: aqua; */
}
#top
{
    height: 420px;
    width: 25%;
    /* background-color: antiquewhite; */
    margin: auto;
    text-align: left;
    padding: 15px;
    border: 1px solid #b7b2b2 ;
    padding: 40px;
}
.inpdesign
{
    height: 26px;
    border: 1px solid #b7b2b2;
    border-radius: 5px;
    width: 100%;
}
#btncreate
{
    width: 100%;
    height: 33px;
    margin-top: 20px;
    background: #f0c14b;
    border-radius: 5px;
    font-size: 18px;
    border: 1px solid  #7e7171 ;
    /* border-color: 1px #a88734 #9c7e31 #846a29; */
}
#navouter
{
    height: 50px;
    width: 100%;
    background-color: #000000;
    display: flex;
}
#navleft
{
    height: 100%;
    width: 50%;
    /* background-color: black; */
}
#right
{
    height: 72%;
    width: 50%;
    color: white;
    /* background-color: black; */
    padding-top: 1%;
    text-align: right;
}
#right>a{
    text-decoration: none;
    color: white;
    text-align: right;
    padding: 5%;
    font-family: serif;
    font-size: 16px;
}
#outerBlog
{
    height: 500px;
    width: 100%;
    background-color: #f0c14b;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("https://thumbs.dreamstime.com/b/tablet-pc-mock-up-pastel-pink-desktop-background-stationery-supples-leaves-branches-top-view-beauty-blog-female-137304514.jpg");
}
#left
{
    height: 60%;
    width: 36%;
    line-height: 2;
    padding: 7%;
    /* font-size: 12px; */
    font-family: serif;
}
#Blogbottom
{
    height: auto;
    width: 100%;
    background-color: #e5bbbd;
}
#left>input{
    margin-top: 2%;
    height: 6%;
    width: 68%;
    padding: 1%;
}
#left>textarea{
    height: 32%;
    margin-top: 4%;
    padding: 2%;
    width: 66%;
}
#left>button{
    height: 10%;
    width: 23%;
    border: none;
    color: white;
    background: black;
    /* font-size: #000000; */
    font-size: 16px;
}
#blogdetail
{
    /* height: 300px;
    width:100%; */
    display: grid;
  grid-template-columns:22% 22% 22% 22%;
  grid-template-rows:300px 300px 300px;
  row-gap: 2%;
  column-gap: 2%;
  padding: 2%;
  justify-content: center;
  /* margin: auto; */
  
  /* background-color: #2196F3; */
  /* padding: 10px; */
} 
#blogcontent
{
    background-color: #af747a;
  /* border: 1px solid rgba(0, 0, 0, 0.8); */
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  padding: 10px;
  font-size: 14px;
  overflow: hidden;
  line-height: 1.4;
  font-family: serif;
  /* margin: auto; */
  text-align: justify;
}
.img_blog
{
    height: 40%;
    width: 100%;
}
@media screen and (max-width: 800px) {
    #left>input{
        margin-top: 2%;
        height: 4%;
        width: 68%;
        font-size: 10px;
        /* padding: 1%; */
    }
    #left>textarea{
        height: 22%;
        margin-top: 4%;
        /* padding: 2%; */
        font-size: 10px;
        width: 66%;
    }
    #left>button{
        height: 7%;
        width: 50%;
        border: none;
        color: white;
        background: black;
        /* font-size: 10px; */
        /* font-size: #000000; */
        font-size: 10px;
    }

  }
  @media screen and (max-width: 420px) {
    #left>input{
        /* margin-top: 2%; */
        height: 4%;
        width: 68%;
        font-size: 6px;
        /* padding: 1%; */
    }
    #left>textarea{
        height: 22%;
        /* margin-top: 4%; */
        /* padding: 2%; */
        font-size: 6px;
        width: 66%;
    }
    #left>button{
        height: 7%;
        width: 50%;
        border: none;
        color: white;
        background: black;
        /* font-size: 10px; */
        /* font-size: #000000; */
        font-size: 6px;
    }
    #left
{
    height: 60%;
    width: 36%;
    line-height: 2;
    padding: 7%;
    font-size: 12px;
    font-family: serif;
}

  }