*{
    margin:0;
    padding: 0;
}
#outer
{
    height: 800px;
    width: 100%;
    text-align: center;
    color: white;
    padding-top: 20px;
    background-color: rgb(28, 31, 31);
}
#gridContainer
{
    display: grid;
    gap: 25px;
    padding: 80px;
    grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
   
}
.grid{
    height: 100px;
    animation: 1s hideCard linear;
    transition: transform 0.5s;
    background-Image:url("/public/memoryicon.png");
    background-size:100% 100%;
    background-repeat: 'no-repeat'
}
  .grid img{
    height: 100%;
    width: 100%;
    transform:scale(0) ;
    animation: 1s hideImage linear;
    transition: transform 0.5s;
  }
  @keyframes hideImage{
    0%{
      transform: scale(1);
    }
    100%{
      transform: scale(0);
    }
  }
  .show{
    animation: 1s showImage linear !important;
    transform: scale(1) !important;
  }
  @keyframes showImage{
    0%{
      transform: scale(0);
    }
    100%{
      transform: scale(1);
    }
  }
  .hide{
    visibility: hidden;
  }
h2{
    margin-top: 30px;
}