#outer{
    height: auto;
    width: 100%;
} 
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 90%;
    margin: auto;
  }
  th{
    background: #0a0a0a;
  }
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  h1{
    margin-left:10%
  }
   tr:nth-child(even) {
    background-color: #dddddd;
  }
  button{
    width: 100%;
    border: none;
    background: none;
    text-align: left;
    font-size: 20px;
    color: white;
  }
  